= form_for @alert, remote: true, html: {class: "form-horizontal"} do |f|
  #flashes
    = bootstrap_flash
  .control-group
    = f.label :email, class: "control-label"
    .controls
      = f.email_field :email, placeholder: 'Digite su Email'
  .control-group
    = f.label :keywords, class: "control-label"
    .controls
      = f.text_field :keywords, class: "input-tag"
  %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"} Cerrar
  = f.submit "Guardar", class: "btn btn-primary pull-right"

:javascript
  $(function(){
    $('.input-tag').tag({placeholder: "Palabras clave, delimitado por coma"});
  });
