!!! 5
%html(lang="en")
  = render "shared/head"
  %body
    = render "shared/header"
    .container-fluid
      .row-fluid
        .span3
          .well.sidebar-nav
            %ul.nav.nav-list
              - Section.all.each do |section|
                %li.nav-header= section.name
                - section.categories.each do |category|
                  %li= link_to category.name, pages_path(category: category)
        .span9
          = bootstrap_flash
          = yield

      %footer
        %p &copy; Footer blablablabla
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
