!!! 5
%html(lang="en")
  = render "shared/head"
  %body
    = render "shared/header"
    .container-fluid
      .row-fluid
        .span3
          = render "shared/sidebar_menu"
        .span9
          = bootstrap_flash
          = yield
      .loading.hide
      = render "shared/footer"
    /
      Javascripts
      \==================================================
    / Placed at the end of the document so the pages load faster
    = javascript_include_tag "application"
