!!! 5
%html(lang="en")
  = render "shared/head"
  %body
    = render "shared/header"
    .container-fluid
      .row-fluid
        .span3
          = render "shared/sidebar_menu"
        .span9
          = bootstrap_flash
          = yield
      .loading.hide
      .modal-template
      = render "shared/footer"
    = render "shared/modal"
    = javascript_include_tag "application"
